.Epicodebg{
    background-color: blueviolet;
}
.fake-body{
    background-color: #553177f2!important;
}
.cursorpointer:hover{
    cursor: pointer;
}
.textspecial{
    color: rgb(13, 65, 162) !important;
}
.textspecial:hover{
    color: orangered !important;
}