.Epicodebg{
    background-color: blueviolet;
}
.fake-body{
    background-color: #553177f2!important;
}
.cursorpointer:hover{
    cursor: pointer;
}
.textspecial{
    color: rgb(13, 65, 162) !important;
}
.textspecial:hover{
    color: orangered !important;
    
}
.animazioneig {
    transition: transform 0.3s ease;
  }
  
  .animazioneig:hover {
    transform: scale(1.2);
    cursor: pointer;
  }